@import ./mixins/_rwd

::-webkit-scrollbar
  width: 8px
  height: 8px

::-webkit-scrollbar-track
  // background-color: #e1e1e1
  background-color: transparent
  border-radius: 10px

::-webkit-scrollbar-thumb
  background-color: #818181
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background-color: #555555

*
  margin: 0
  padding: 0
  font-family: Noto Sans TC, roboto, Microsoft JhengHei, PingFang, Arial, Helvetica, serif

.el-header
  display: flex
  align-items: center
  height: 55px !important
  background-color: #fff !important
  border-bottom: 1px solid #c8ced3

  button
    > .el-icon
      color: #303133
      font-size: 16px

  .logout
    margin-left: auto !important

.el-container
  .el-aside
    width: initial
    background-color: #e4e5e6

    .el-menu-vertical-demo
      &:not(.el-menu--collapse)
        width: 250px

  .el-main
    padding: 0 !important
    height: 100vh

    .main
      height: 100%
      overflow-y: auto
      background-color: #f0f3f6
      box-sizing: border-box

  .el-footer
    height: 40px !important
    border-top: 1px solid #c8ced3
    background-color: #f0f3f5
    display: flex
    align-items: center
    justify-content: flex-end
    font-size: 14px

.el-table--fit
  .el-table__inner-wrapper
    .el-table__body-wrapper
      .el-scrollbar
        .el-scrollbar__view
          .el-table__body
            .el-table__body-header
              tr
                th
                  .cell
                    color: #232323
                    font-weight: 500
                    white-space: nowrap

.el-pagination
  margin: 15px 0px

  .btn-prev,
  .btn-next
    color: #727272 !important
    background-color: transparent !important

  .el-pager
    > li
      color: #727272 !important
      background-color: transparent !important

      &.is-active
        color: #555AD5 !important

  .el-pagination__jump
    .el-pagination__goto,
    .el-pagination__classifier
      color: #727272 !important

    .el-input
      width: 48px !important

      .el-input__wrapper
        background-color: transparent !important

        .el-input__inner
          color: #727272 !important        